body {
    background-image:

        /* top, transparent blue */
            linear-gradient(0deg, rgba(57, 178, 255, 0.7), rgba(57, 178, 255, 0.7)),
            url("../img/bg-fashion.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#columns {
    background-color: white;
}

i {
    font-size: 16px;
}