body {
    background-image:

        /* top, transparent blue */
            linear-gradient(0deg, rgba(20, 33, 61, 0.7), rgba(224, 224, 224, 0.7)),
            url("../img/bg-fashion.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#ar-card {
    width: 100%;
    height: auto;
    text-align: center;
}


#ar-card .img-responsive {
    margin: 0 auto;
}

@media (min-width: 481px){
    #ar-content {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

.display-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

video {
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.video-options {
    position: absolute;
    left: 20px;
    top: 30px;
}

.controls {
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
}

.controls > button {
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 100%;
    margin: 0 6px;
    background: transparent;
}

.controls > button:hover svg {
    color: white !important;
}

@media (min-width: 300px) and (max-width: 400px) {
    .controls {
        flex-direction: column;
    }

    .controls button {
        margin: 5px 0 !important;
    }
}

.controls > button > svg {
    height: 20px;
    width: 18px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

.controls button:nth-child(1) {
    border: 2px solid #00B541;
}

.controls button:nth-child(1) svg {
    color: #00B541;
}


.controls > button {
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 100%;
    margin: 0 6px;
    background: transparent;
}

.controls > button:hover svg {
    color: white;
}